<div class="card">
  <div class="card-body">
    <div class="card-title">
      <div class="row">
        <div class="col-9">
          <h4>Casos por Estado ({{currentState.toUpperCase()}})</h4>
        </div>
        <div class="col-3">
          <div class="form-group">
            <select class="form-control" [(ngModel)]="currentState" (change)="onStateSelect()">
              <option *ngFor="let state of states" [value]="state">
                {{ state }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="card-subtitle">
      <h6 class="text-muted">Dados do dia: {{data?.datetime | date: 'dd/MM/yyyy'}}</h6>
    </div>
    <div class="card-body">
      <div class="row" *ngIf="!isLoading">
        <div class="col-3 text-center" tooltip="Casos">
          <i class="fas fa-viruses"></i>
          <h4>{{data?.cases}}</h4>
        </div>
        <div class="col-3 text-center" tooltip="Suspeitos">
          <i class="fas fa-head-side-mask"></i>
          <h4>{{data?.suspects}}</h4>
        </div>
        <div class="col-3 text-center" tooltip="Mortes">
          <i class="fas fa-skull"></i>
          <h4>{{data?.deaths}}</h4>
        </div>
        <div class="col-3 state-info text-center" tooltip="Casos Negados">
          <i class="fas fa-virus-slash"></i>
          <h4>{{data?.refuses}}</h4>
        </div>
      </div>
      <loader *ngIf="isLoading"></loader>
    </div>
  </div>
</div>
