<div class="container-fluid">
  <div class="row mt-3 mb-3">
    <div class="col-4">
      <state-cases-tracker></state-cases-tracker>
    </div>
    <div class="col-8">
      <covid-advices></covid-advices>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <brazil-cases-tracker></brazil-cases-tracker>
    </div>
    <div class="col-6">
      <country-cases-tracker></country-cases-tracker>
    </div>
  </div>
</div>

<footer class="text-center">
  This project was developed using the <a href="https://covid19-brazil-api-docs.now.sh/" target="_blank">Covid19 Brazil API</a>
</footer>
