<div class="max-height">
  <div *ngIf="rows?.length">
    <div class="row mb-2">
      <div *ngFor="let column of columns" class="col">
        <b><h6>{{column}}</h6></b>
      </div>
    </div>
    <div *ngFor="let row of rows" class="row">
      <div *ngFor="let prop of props" class="col mb-2">
        {{prop === 'updated_at' ? (row[prop] | date: 'dd/MM/yyyy') : row[prop]}}
      </div>
    </div>
  </div>

  <div *ngIf="!rows?.length" class="text-center">
    <b>Nenhum dado encontrado!</b>
  </div>
</div>


