<div class="card max-height">
  <div class="card-body">
    <div class="card-title">
      <div class="row">
        <div class="col-12">
          <h4>Orientações</h4>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-4 d-flex">
          <div class="float-left mr-4">
            <i class="fas fa-head-side-mask fa-4x"></i>
          </div>
          <div class="float-right mt-2">
            <h6>Recomenda-se a utilização de máscaras em todos os ambientes.</h6>
          </div>
        </div>
        <div class="col-4 d-flex">
          <div class="float-left mr-4">
            <i class="fas fa-hands-wash fa-4x"></i>
          </div>
          <div class="float-right mt-2">
            <h6>Lave com frequência as mãos até a altura dos punhos, com água e sabão, ou então com álcool em
              gel 70%.</h6>
          </div>
        </div>
        <div class="col-4 d-flex">
          <div class="float-left mr-4">
            <i class="fas fa-hospital fa-4x"></i>
          </div>
          <div class="float-right mt-2">
            <h6>Se estiver com sintomas compatíveis com a COVID-19, procure imediatamente uma unidade de saúde.</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
