/* You can add global styles to this file, and also import other style files */
body {
  background-color: #dddddd;
}

footer {
  padding: 15px;
  background-color: #000000;
  color: #fff;
}

.card {
  border-radius: 5px;
  min-height: 220px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
